@import "../../../../Styles/styleUtility.scss";


.loaderContainer {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
    tbody{
      font-family: 'Roboto', sans-serif;
        }
    .tableContainer {
      max-height: 24rem;
      overflow-y: scroll;
      /* width */
      &::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #dfe1f3;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgb(182, 182, 182);
        border-radius: 5px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
  }
  button {
    &:focus{
      outline: none;
  }
  border: none;
  }
  .header {
    padding: 0rem 1rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .addIcon {
      color: var(--primaryColor);
      position: sticky;
      font-size: 2.5rem;
      cursor: pointer;
      svg {
        transition: all 0.3s;
        &:hover {
          @include rotate;
        }
      }
    }

    .pagContainer {
      margin: 1rem;
      // justify-self: flex-end;
    }
  }
  .removeIcon {
    color: var(--secondaryColor);
    font-size: 1.8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      transition: all 0.3s;
      @include preBuzzOut;
      &:hover {
        @include buzzOut;
      }
    }
  }
}
