@import "../../../utilities//styleUtility.scss";
$fontSize: 1.5rem;

.inputField{
    display: flex;
    label{
        padding: 0 2rem !important;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:  var(--BoilerplateFont);
        vertical-align: middle;
    }
    div{
        align-self: center;
    }
    textarea{
        font-size:  var(--BoilerplateFont);
    }
}

.invalidMessage{
    font-size: 80%;
    color: red;
    display: block !important;
    padding: .5rem 1rem !important;
    background-color: rgba(243, 191, 191, 0.507);
    font-size: 1.5rem;
}
.invalidInput{
    border: 1px solid red !important;
    &:focus{
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.274);
    }
    
}

.eyeIcon {
    position: absolute;
    top: 22%;
    color: #757575;
    font-size: 2rem;
    cursor: pointer;
}
.iconAr {
    left: 5%;
    @media only screen and (max-width: 600px){
        left: 8%;
    }
    @media only screen and (max-width: 400px){
        left: 12%;
    }
}
.disableIcon{
    opacity:.3;
    cursor: auto;
}

.iconEn {
    right: 5%;
    @media only screen and (max-width: 600px){
        right: 8%;
    }
    @media only screen and (max-width: 400px){
        right: 12%;
    }
}