.tableContainer{
    text-align: center;
    width: 100rem;
    height: fit-content;
    padding: 1rem;
    padding-top: 0 ;
    span{
        display: inline-block;
        margin-right: 2rem;
        font-size: 3.5rem;
        font-weight: 600;
        color:#30475e;
        cursor: pointer;
        transition: all .3s;    
        &:hover{
            color: #4a8ff0;
            text-shadow: 0 1px 2px #333;
        }
        &:active{
            transform: translate(0px, 0px);
            text-shadow: 0 2px 2px #333;
        }
    }
    .body{
        tr{
            cursor: pointer;
        }
        width: 100%;
        max-height: 50rem;
        overflow-y: scroll;
        td{
            width: 33%;

        }
        /* width */
        &::-webkit-scrollbar {
            width: 7px;
            
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #dddddd;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgb(182, 182, 182);
            border-radius: 5px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    input{
        margin-bottom: 2rem;
        font-size: 1.5rem !important;
        font-weight: 600;
    }
  
}
