// .loginContainer{
//     position: relative;
//     .loginFrom{
//         position: absolute;
//         top: 50%;
//         right: 50%;
//         transform: translate(50%, 30%);
//         max-width: 55rem;
//         min-height: 60vh;
//         min-width: 50rem;
//         background-color: white;
//         border-radius: 10px;
//         box-shadow:
//         0 2.8px 2.2px rgba(0, 0, 0, 0.034),
//         0 6.7px 5.3px rgba(0, 0, 0, 0.048),
//         0 12.5px 10px rgba(0, 0, 0, 0.06),
//         0 22.3px 17.9px rgba(0, 0, 0, 0.072),
//         0 41.8px 33.4px rgba(0, 0, 0, 0.086),
//         0 100px 80px rgba(0, 0, 0, 0.12);
//         display: flex;        
        
//         .formContent{
//             padding: 3rem;
//             width: 100%;
//         }
//         .companyLogo{
//             width: 10rem;
//             margin: 3rem 2rem;
//         }
//         .side{
//             width: fit-content;
//             padding: 2rem;
//             background-color: #222831;
//             display: flex;
//             box-sizing: border-box;
//             border-radius: 10px;
//              p{
//                 font-size: 2.5rem;
//                 align-self: center;
//                 margin: 1rem !important;
//                 box-sizing: border-box;
//                 letter-spacing: 1.8rem;
//                 transform: rotate(180deg);                
//                 writing-mode: vertical-rl;
//                 color: white;
//                 font-weight: 300;
//                 text-transform: uppercase;
//              }    
//          }
//     }
//     form{
//         font-size: 2rem;
//         input{
//             min-height: 4rem;
//             font-size: 1.5rem;
//             margin: 1rem 0;
//         }
//         button{
//             font-size: 2rem;
//             position: absolute; 
//             bottom: 3rem;
//         }
//     }
//     p{
//         color: #222831 ;
//         font-size: 2.5rem;
//     }
// }

.loginContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image:
    linear-gradient(to bottom, #22283163, #222831bb),
    url('../../assests/loginBack3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    .loginFrom{
        position: fixed;
        top: 5%;
        right: 50%;
        transform: translate(50%, 30%);
        max-width: 55rem;
        min-height: 60vh;
        min-width: 50rem;
        // background-color: rgba(255, 255, 255, 0.116);
        background-color: white;
        border-radius: 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;        
        select {
            background-color: rgba(255, 255, 255, 0.137);
        }
        .formContent{
            padding: 3rem;
            width: 100%;
        }
        .companyLogo{
            width: 10rem;
            margin: 3rem 2rem;
        }
        .side{
            width: fit-content;
            padding: 2rem;
            background-color: #222831;
            display: flex;
            box-sizing: border-box;
            border-radius: 10px;
             p{
                font-size: 2.5rem;
                align-self: center;
                margin: 1rem !important;
                box-sizing: border-box;
                letter-spacing: 1.8rem;
                transform: rotate(180deg);                
                writing-mode: vertical-rl;
                color: white;
                font-weight: 300;
                text-transform: uppercase;
             }    
         }
    }

    form{
        font-size: 2rem;
        input{
            min-height: 4rem;
            font-size: 2rem;
        }
        label{
            // color: white;
            // color: rgb(27, 27, 27) !important;
        }
        button{
            position: absolute; 
            bottom: 3rem;
        }
    }
    p{
        color: #222831 ;
        font-size: 2.5rem;
    }
}
.center{
    position: fixed;
    top: 5%;
    right: 50%;
}