.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    position: fixed;
    top: 25%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .loginFrom {
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px var(--gray-light);
    border: 0.5px solid var(--gray-light);
    transform: translateX(-3rem);
    min-width: 40rem;
    max-width: 45rem;
    display: grid;
    grid-template-columns: 10rem 1fr;

    .formContent {
      padding: 2rem;
      width: 100%;
      position: relative;


      .companyLogo {
        width: 10rem;
        margin: 2rem;
      }
 
      .loginBtn {
        position: absolute;
        inset-inline-end: 0;
        inset-block-end: 0;
        margin: 2rem;
      }

      .langSelector {
          inline-size: 8rem;
      }
    }
    .side {
      background-color: var(--black);
      border-radius: 10px;
      grid-area: 1/1/2/2;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-family: var(--secondaryFont);
        font-size: 2.5rem;
        letter-spacing: 1.8rem;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        color: var(--white);
        font-weight: 300;
        text-transform: uppercase;
        padding-inline: 1rem;
      }
    }
  }
}
