.DrobDown{
    min-width: 20rem;
    // max-width: fit-content;
    min-height: 5rem;
    max-height: fit-content;
    // padding: 1rem;
    position: fixed;
    z-index: 11;
    background-color: white;
    color: #222831;
    border-radius: 5px;
    transition: all .5s;
    font-size: 1.5rem;
    box-shadow: 1px 1px 4px #333;
    ul{
        padding-inline-start: 0px;
    }
}