@import "../../../../Styles/styleUtility.scss";

$transformMove: .4rem;

.Tool{
    margin: 0rem 1rem;
    @media only screen and (max-width: 500px){
        margin: 1rem;
    }
    
    button{
        font-size: 2.2rem;
        &:focus{
            outline: none;
        }
        border: none;
        &:disabled{
            cursor: not-allowed;
            svg, path{
                cursor: not-allowed;
            }
        }
        background-color: rgba(255, 255, 255, 0);
    }
}

.active{
     svg{
        color:  var(--primaryColor);
        cursor: pointer;
        transition: all .3s;    
    }
}

.inActive{
    svg{
        color:  #222831 !important;
    }
}

// tool animation and color

.undo {
    svg{
        &:hover{
            @include growRotate;
        }
    }
}
.delete {
    svg{
        color: var(--secondaryColor);
        @include preBuzzOut;
        &:hover{
            @include buzzOut;
        }
    }
}

.first, .previous{
    svg{
        &:hover{
            @include forward
        }
    }
}

.last, .next{
    svg{
        &:hover{
            @include backward
        }
    }
}


.modify, .list, .save, .copy{
    svg{
        &:hover{
            @include pulse;
        }
    }
}

.search{
    svg{
        &:hover{
            @include wobbleTopRight
        }
    }
}

.add{
    svg{
        &:hover{
            @include rotate;
        }
    }
}




.onMode{
    svg{
        color:  green !important;
        @include pulse
    }
}