@import "../../../utilities//styleUtility.scss";
$fontSize: 1.5rem;

.checkboxField {
    display: flex;
    label{
        padding: 0 2rem !important;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:  var(--BoilerplateFont);
        display: flex;
        align-items: center;
    }
    div{
        align-self: center;
    }
}

