$fontSize: 1.8rem;
.itemNode{
    margin: .5rem !important;
    display: flex;
    .output{
        white-space: nowrap; 
        width: 20rem; 
        @media only screen and (max-width: 920px){
            width: 300px !important; 
        }
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}   