.Modal {
    position: fixed;
    z-index: 500;
    border-radius: 5px;
    background-color: white;
    min-width: 50%;
    width: fit-content;
    border: 1px solid #ccc;
    left: 50%;
    top: 40%;
    transition: all 0.3s ease-out;
    @media only screen and (max-width: 520px){
        width: 90%;
    }
}

