:root {
  --primaryColor-dark:#034663; 
  --primaryColor:#036D9D; 
  --primaryColor-light:#0394D7;

  --secondaryColor:#9c27b0;
  
  --tabColor: #DFE1F3;

  --gray-dark:#404040; 
  --gray:#7F7F7F; 
  --gray-light:#BEBEBE;
  
  --white: white;
  --black:#000000;

  --primaryFont: "Raleway", sans-serif;
  --secondaryFont: 'Cinzel', serif;
}

