@mixin noSpace {
  padding: 0 !important;
  margin: 0 !important;
}

%scrollBar-y {
  overflow-y: scroll;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #dfe1f3;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// inputs placeholders
%labelOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%invalidMess {
  color: red;
  display: block;
  padding: 0.5rem 1rem;
  background-color: rgba(243, 191, 191, 0.507);
  font-size: 1.5rem;
}

%invalidInput {
  border: 1px solid red;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.274);
  }
}

%eyeIcon {
  position: absolute;
  top: 25%;
  inset-inline-end: 5%;
  color: #757575;
  cursor: pointer;
}

// hiding input file PLACEHOLDER
%inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

%inputFile + label {
  background-color: aqua;
  position: relative;
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--gray-dark);
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  cursor: pointer;
  // set the sizes
  min-width: 30rem;
  max-width: fit-content;
  height: 3.5rem;
  padding-inline-start: 8rem;
  // positioning the content
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "Browse";
    // set the sizes
    height: 100%;
    width: fit-content;
    padding: 1rem;
    border-inline-end: 1px solid var(--gray-light);
    // poitioning the whole psudo element relative to the parent
    position: absolute;
    inset-inline-start: 0;
    // positioning the content
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

%inputfileFfocus + label {
  outline: 1px solid var(--primaryColor-light);
  -moz-outline-radius: 5px;
}

%inputFile + label:hover {
    // background-color: var(--gray-light);
  border: 1px solid var(--primaryColor-light);
  box-shadow: 0 0 0 0.1rem var(--primaryColor-light);
    // color: var(--white);
}