@import "./styleUtility.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(desktop) {
    font-size: 95%; // 12 * 1.6 = 19.2px
  }
  @include respond(laptop) {
    font-size: 62.5%; // 10 * 1.6 = 16px
  }
  @include respond(tablet_landscape) {
    font-size: 56.25%; // 9 * 1.6 = 14.4 px
  }
  @include respond(tablet_portrait) {
    font-size: 50%; // 8 * 1.6 = 12.8 px
  }
  @include respond(mobile_landscape) {
    font-size: 43.75%; // 7 * 1.6 = 11.2 px
  }
  @include respond(mobile_portrait) {
    font-size: 37.5%; // 6 * 1.6 = 9.6 px
  }
}


body, input, textarea, select {
  margin: inherit;
  padding: inherit;
  box-sizing: inherit;
  font-family: var(--primaryFont) !important;
  font-size: 1.6rem !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

