.input{
    padding: 1.5rem 0 !important;
 
    input{
        background-color: white !important;
    }

    
    label{
        padding: 1.5rem 0 !important;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


// .required{
//     width: 3px;
//     height: 66.5%;
//     background-color: #3F51B5;
// }