@import "../../../../Styles/styleUtility.scss";
@import "../input.scss";

.FileField {
  display: flex;
  .outerLabel {
    @extend %labelOverflow;
  }
  .innerLabel {
    text-align: center;
  }
  input {
    width: 0;
    opacity: 0;
  }

  img {
    width: 100%;
    margin-bottom: 3px;
    height: 15rem;
    object-fit: contain;
  }
  .fileInput {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #c7c7c7;
  }
}

.active {
  cursor: pointer;
  &:hover {
    border: 1px solid #b1b1b1;
    background-color: rgb(221, 221, 221);
  }
}
