.treeContianer{
    min-height: 20rem;
}


.tree{
    text-align: start;
    list-style: none;
    max-height: 87vh;
    overflow-y: scroll;
    padding-left: 0rem;
    padding-inline-end: 0px !important;
    /* width */
    &::-webkit-scrollbar {
        width: 7px;
        
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        opacity: 0;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #223344;
        border-radius: 5px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
  
    ul{
        padding-inline-end: 0px !important;
        padding-inline-start: 2rem !important;
        list-style: none;
    }   
    &>li{
        margin: 2rem 1rem !important;
    }
    a{
        color: white !important;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color: #4a8ff0 !important;
            transform: translate(-1px, -1px);
            text-shadow: 0 1px 2px #333;
        }
        &:active{
            transform: translate(0px, 0px);
            text-shadow: 0 2px 2px #333;
        }
    }
    li{
        width: fit-content;
        align-self: center;
        font-size: 2rem;
        cursor: pointer;
        transition: all .3s;    
        &:hover{
            color: #4a8ff0;
            transform: translate(-1px, -1px);
            text-shadow: 0 1px 2px #333;
        }
        &:active{
            transform: translate(0px, 0px);
            text-shadow: 0 2px 2px #333;
        }
    }
}
