.newsBar{
    margin: 1rem;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    border-radius: 5px;
    font-size: 1.6rem;
    color: white;

    span{
        margin: 0 1rem;
        align-self: center;
        font-size: 2rem;
        cursor: pointer;
        transition: all .3s;    
        &:hover{
            color: #4a8ff0;
            transform: translate(-1px, -1px);
            text-shadow: 0 1px 2px #333;
        }
        &:active{
            transform: translate(0px, 0px);
            text-shadow: 0 2px 2px #333;
        }
    }

    // transition: transform .6s ease-in-out;
    // transition-property: transform;
    // transition-duration: 0.6s;
    // transition-timing-function: ease-in-out;
    // transition-delay: 0s;
}

// #222831  #30475e

.none{
    animation: none;
    transform: translateX(-50%);
}

.nextAnimationCome{
    transition: all .3s;
    animation: nextAnimationCome .3s;
}

@keyframes nextAnimationCome {
    0%   {transform: translateX(-30rem); opacity: 0;}
    25%  {transform: translateX(-20rem);}
    50%  {transform: translateX(-10rem);}
    75%  {transform: translateX(-5rem);}
    100% {transform: translateX(0rem); opacity: 1;}
}
.nextAnimationGo{
    transition: all .3s;
    animation: nextAnimationGo .3s;
}

@keyframes nextAnimationGo {
    0%   {transform: translateX(0rem); opacity: 1;}
    25%  {transform: translateX(5rem);}
    50%  {transform: translateX(10rem);}
    75%  {transform: translateX(20rem);}
    100% {transform: translateX(30rem); opacity: 0;}
}

.prevAnimationCome{
    transition: all .3s;
    animation: prevAnimationCome .3s;
}

@keyframes prevAnimationCome {
    0%   {transform: translateX(30rem); opacity: 0;}
    25%  {transform: translateX(20rem);}
    50%  {transform: translateX(10rem);}
    75%  {transform: translateX(5rem);}
    100% {transform: translateX(0rem); opacity: 1;}
}
.prevAnimationGo{
    transition: all .3s;
    animation: prevAnimationGo .3s;
}

@keyframes prevAnimationGo {
    0%   {transform: translateX(0rem); opacity: 1;}
    25%  {transform: translateX(-5rem);}
    50%  {transform: translateX(-10rem);}
    75%  {transform: translateX(-20rem);}
    100% {transform: translateX(-30rem); opacity: 0;}
}