.displayBlock{
    background-color:  #30475e !important;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding: .5rem 1rem !important;
    box-sizing: border-box;
    font-size: 1.5rem;
    i{
        margin: 3px;
        color: wheat;
    }
}