.AuditTable{
    font-size: 1.9rem;
    font-family: inherit;
    border-color: #bdbebe;
    width: 100%;
    // margin: 9rem 0 0 0 ;
    // @media only screen and (max-width: 880px){
    //     margin: 10rem 0 0 0 ;
    // }
    thead, tr{
        vertical-align: middle !important;
        width: 100%;

    }
    td{
        vertical-align: middle !important;
        width: 12.5% !important;
    }
}

