$desktop_larg: 1200px;
$desktop_small: 1000px;
$taplet_larg: 800px;
$taplet_small: 600px;
$phone_larg: 400px;
$phone_small: 300px;
html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: $desktop_larg) {
      font-size: 58.5%;
    }
    @media only screen and (max-width: $desktop_small) {
      font-size: 54.5%;
    }
    @media only screen and (max-width: $taplet_larg) {
      font-size: 50.5%;
    }
    @media only screen and (max-width: $taplet_small) {
      font-size: 46.5%;
    }
    @media only screen and (max-width: $phone_larg) {
      font-size: 42.5%;
    }
    @media only screen and (max-width: $phone_small) {
      font-size: 38.5%;
    }
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 1.7rem !important;
    height: 100vh;
    overflow: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .row{
    --bs-gutter-x: 0rem;
  }
