@import "../../../styles/styleUtility.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  width: 70vw;

  @include respond(tablet_landscape) {
    padding-right: 5px;
    padding-left: 5px;
    width: 95vw;
  }

  img {
    width: 40%;
    margin-bottom: 4rem;
  }

  .info {
    padding: 0 5rem;
 
    P {
      margin: 2rem auto;
      margin-top: 4rem;
      line-height: 4rem;
    }
    h1 {
      margin-top: 2rem;
      text-align: center;
    }
  }
}
