.container{
    margin: 4rem 2rem 0rem 2rem !important;
    height: 70vh;
    overflow-y: scroll;
     /* width */
     &::-webkit-scrollbar {
        width: 7px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #dddddd;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(182, 182, 182);
        border-radius: 5px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    tbody{
        tr{
            &:hover{
                cursor: pointer;
            }
        }
    }
  
}

.noMatch{
    font-size: 4rem;
    border-bottom: 1px solid #3F51B5;
    padding-bottom: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}